<div class="container-fluid d-flex d-flex justify-content-center">
	<div class="card col-lg-8 col-sm-11 border-0 border-top">
		<div class="row">
			<div class="card col d-flex justify-content-start border-0">
				<h2>This First Heading <span class="text-secondary"> Will Catch Your Eye</span> </h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio enim laborum necessitatibus perspiciatis, tenetur sint libero quaerat non facilis ipsam quod. Veritatis aliquid deserunt architecto laudantium necessitatibus, placeat eligendi autem consequuntur cum aspernatur voluptatum quam sapiente quasi enim provident excepturi voluptatibus id voluptatem iste soluta nobis atque. Quo accusamus provident quasi dolorum delectus! Corrupti unde repellat dolore placeat dolorum.</p>
			</div>
      <div class="col-4"><img alt="services" class="img-fluid d-flex justify-content-end" src="https://images.squarespace-cdn.com/content/v1/604ed96e9f1c0d72bbeb2826/8df759df-69b3-46ec-bf01-0cf782bdb91e/Ww+Square_Heisenberg.jpg"></div>
		</div>
	</div>
</div>